.Container {
    display: flex;
    flex-direction: column;
}

.Typewriter {
    font-family: Consolas;
}

.Terminal {
    display: flex;
}
.Terminal > div:first-of-type {
    margin-right: 0.4em;
}
.Terminal > div:last-of-type {
    flex: 1 auto;
}
.Terminal.Faded {
    opacity: 0.5;
}

.HideCursor {
    visibility: hidden;
}