.Container {
    margin: 0 auto;
    height: 100vh;
    width: 1100px;
    max-width: 85vw;
    padding: 1em;
}

.Container.Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container.Boundless {
    width: 100vw;
    max-width: none;
    height: 100vh;
}