@page {
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    margin-left: 0.5in;
    margin-right: 0.5in;
}

html, body {
    margin: 0;
    background: #000000;
}

*, *:after, *:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

@media screen and (max-width: 620px) {
    h1 {
        font-size: 18px;
    }
}